@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway/Raleway-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
